absl-py==0.8.0
asgiref==3.2.7
astor==0.8.0
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
dom==0.9
gast==0.2.2
google-pasta==0.1.7
gprof2dot==2019.11.30
graphviz==0.13.2
grpcio==1.24.1
h5py==2.10.0
idna==2.9
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
meteo-downloader==1.0
numpy==1.17.2
opt-einsum==3.1.0
Pillow==7.1.1
protobuf==3.10.0
PyPDF2==1.26.0
pytz==2019.3
reportlab==3.5.42
requests==2.23.0
simplejson==3.17.0
six==1.12.0
sqlparse==0.3.1
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
torch==1.2.0
torchvision==0.4.0
urllib3==1.25.8
Werkzeug==0.16.0
wrapt==1.11.2
xlrd==1.2.0
